###############################################################################
#
# TinyFPGA BX constraint file (.pcf)
#
###############################################################################
#
# Copyright (c) 2018, Luke Valenty
# All rights reserved.
#
# Redistribution and use in source and binary forms, with or without
# modification, are permitted provided that the following conditions are met:
#
# 1. Redistributions of source code must retain the above copyright notice, this
#    list of conditions and the following disclaimer.
# 2. Redistributions in binary form must reproduce the above copyright notice,
#    this list of conditions and the following disclaimer in the documentation
#    and/or other materials provided with the distribution.
#
# THIS SOFTWARE IS PROVIDED BY THE COPYRIGHT HOLDERS AND CONTRIBUTORS "AS IS" AND
# ANY EXPRESS OR IMPLIED WARRANTIES, INCLUDING, BUT NOT LIMITED TO, THE IMPLIED
# WARRANTIES OF MERCHANTABILITY AND FITNESS FOR A PARTICULAR PURPOSE ARE
# DISCLAIMED. IN NO EVENT SHALL THE COPYRIGHT OWNER OR CONTRIBUTORS BE LIABLE FOR
# ANY DIRECT, INDIRECT, INCIDENTAL, SPECIAL, EXEMPLARY, OR CONSEQUENTIAL DAMAGES
# (INCLUDING, BUT NOT LIMITED TO, PROCUREMENT OF SUBSTITUTE GOODS OR SERVICES;
# LOSS OF USE, DATA, OR PROFITS; OR BUSINESS INTERRUPTION) HOWEVER CAUSED AND
# ON ANY THEORY OF LIABILITY, WHETHER IN CONTRACT, STRICT LIABILITY, OR TORT
# (INCLUDING NEGLIGENCE OR OTHERWISE) ARISING IN ANY WAY OUT OF THE USE OF THIS
# SOFTWARE, EVEN IF ADVISED OF THE POSSIBILITY OF SUCH DAMAGE.
#
# The views and conclusions contained in the software and documentation are those
# of the authors and should not be interpreted as representing official policies,
# either expressed or implied, of the <project name> project.
#
###############################################################################

####
# TinyFPGA BX information: https://github.com/tinyfpga/TinyFPGA-BX/
####

# Left side of board
set_io --warn-no-port AUDIO_LEFT  A2    # pin 1
set_io --warn-no-port AUDIO_RIGHT A1    # pin 2
#set_io --warn-no-port SER_RX B1      # pin 3
#set_io --warn-no-port SER_TX C2      # pin 4
#set_io --warn-no-port PIN_5 C1      # pin 5
#set_io --warn-no-port PIN_6 D2      # pin 6
#set_io --warn-no-port PIN_7 D1      # pin 7
#set_io --warn-no-port PIN_8 E2      # pin 8
#set_io --warn-no-port VGA_B E1      # pin 9
#set_io --warn-no-port VGA_G G2      # pin 10
#set_io --warn-no-port lcd_backlight  H1 # pin 11
set_io --warn-no-port lcd_read_edge  J1 # pin 12
set_io --warn-no-port lcd_write_edge H2 # pin 13


# Right side of board
set_io --warn-no-port lcd_cmd_data H9 # pin 14
#set_io --warn-no-port lcd_ncs      D9 # pin 15
set_io --warn-no-port lcd_nreset   D8 # pin 16
set_io --warn-no-port lcd_D0       C9 # pin 17
set_io --warn-no-port lcd_D1       A9 # pin 18
set_io --warn-no-port lcd_D2       B8 # pin 19
set_io --warn-no-port lcd_D3       A8 # pin 20
set_io --warn-no-port lcd_D4       B7 # pin 21
set_io --warn-no-port lcd_D5       A7 # pin 22
set_io --warn-no-port lcd_D6       B6 # pin 23
set_io --warn-no-port lcd_D7       A6 # pin 24

# Buttons
set_io -nowarn BUTTONS[7] C1   # PIN 5
set_io -nowarn BUTTONS[6] D2   # PIN 6
set_io -nowarn BUTTONS[5] D1   # PIN 7
set_io -nowarn BUTTONS[4] E2   # PIN 8
set_io -nowarn BUTTONS[3] E1   # PIN 9
set_io -nowarn BUTTONS[2] G2   # PIN 10
set_io -nowarn BUTTONS[1] G1   # PIN 25
set_io -nowarn BUTTONS[0] J3   # PIN 26

# SPI flash interface on bottom of board
set_io --warn-no-port SPI_SS F7
set_io --warn-no-port SPI_SCK G7
set_io --warn-no-port SPI_IO0 G6
set_io --warn-no-port SPI_IO1 H7
set_io --warn-no-port SPI_IO2 H4
set_io --warn-no-port SPI_IO3 J8

# General purpose pins on bottom of board
#set_io --warn-no-port PIN_25 G1
#set_io --warn-no-port PIN_26 J3
#set_io --warn-no-port PIN_27 J4
#set_io --warn-no-port PIN_28 G9
#set_io --warn-no-port PIN_29 J9
#set_io --warn-no-port PIN_30 E8
#set_io --warn-no-port PIN_31 J2

# LED
set_io --warn-no-port LED B3

# USB
#set_io --warn-no-port USBP B4
#set_io --warn-no-port USBN A4
set_io --warn-no-port USBPU A3

# 16MHz clock
set_io --warn-no-port CLK B2 # input
